@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto+Condensed&display=swap');

body
{
    display: block;
    margin: 0;
}

.heading__highlight
{
    color: #ee58b6;
}

.nav__bar
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.sign__up_button
{
    background-color: #05090c;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    width: 332px;
    height: 55px;
    border-radius: 5px;
}

.welcome__header
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 122.35%;
}

.welcome__desk
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 20%;
    color: rgba(0, 0, 0, 0.7);
}

.welcome__img
{
    width: 849px;
    height: 849px;
}

.benefits__block
{
    background-color: black;
    align-content: center;
}

.benefits__card
{
    display: flex;
    flex-direction: column;
    width: 337px;
}

.benefits__card_img
{
    object-fit: none;
    align-self: center;
}

.benefits__card_left
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: white;
    width: 303px;
    heigh: 80px;
}

.benefits__card_center
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: white;
    width: 337px;
    heigh: 52px;
}

.benefits__card_right
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: white;
    width: 337.95px;
    heigh: 52px;
}

.content__header
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 126.23%;
    color: black;
}

.content__desk
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30%;
    color: rgba(0, 0, 0, 0.7);
}

.content__table_card
{
    border-radius: 7px;
    background-color: black;
    width: 271px;
    height: 121px;
    padding: 32px 48px 37px 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content___table__card_text
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: white;
    margin-top: 50px;
}

.content___table__card_img
{
    object-fit: none;
    align-self: start;
}

.bottom__section
{
    vertical-align: middle;
    align-items: center;
    background-color: black;
    width: auto;
    height: 108px;
    display: flex;
    justify-content: center;
}