@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto+Condensed&display=swap');

body
{
    display: block;
    margin: 0;
}

.heading-highlight
{
    color: #ee58b6;
}

.nav-bar
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.sign-up-button
{
    background-color: #05090c;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    width: 247px;
    height: 55px;
    border-radius: 5px;
}

.welcome-header
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 122.35%;
}

.welcome-desc
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.7);
}

.welcome-img
{
    width: 849px;
    height: 849px;
}

.benefits-block
{
    background-color: black;
    align-content: center;
}

.benefits-card
{
    display: flex;
    flex-direction: column;
    width: 337px;
}

.benefits-card-img
{
    object-fit: none;
    align-self: center;
}

.benefits-card-text
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: white;
    width: 337px;
}

.content-header
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 126.06%;
    color: black;
}

.content-desc
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: rgba(0, 0, 0, 0.7);
}

.content-table-card
{
    border-radius: 7px;
    background-color: black;
    width: 271px;
    height: 121px;
    padding: 32px 48px 37px 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-table-card-text
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: white;
}

.content-table-card-img
{
    object-fit: none;
    align-self: start;
}

.bottom-section
{
    vertical-align: middle;
    align-items: center;
    background-color: black;
    width: auto;
    height: 108px;
    display: flex;
    justify-content: center;
}